<div class="dashboard-container">
    <h1>Panel de Administración</h1>
    <div class="button-grid">
      <button routerLink="/usuarios" class="dashboard-button user-button">
        <i class="material-icons">people</i>
        <span>Usuarios</span>
      </button>
  
      <button routerLink="/flores" class="dashboard-button flower-button">
        <i class="material-icons">local_florist</i>
        <span>Flores</span>
      </button>
  
      <button routerLink="/ordenes" class="dashboard-button order-button">
        <i class="material-icons">receipt</i>
        <span>Órdenes</span>
      </button>
  
      <button routerLink="/proveedores" class="dashboard-button supplier-button">
        <i class="material-icons">local_shipping</i>
        <span>Proveedores</span>
      </button>
    </div>
  </div>